body {
   background: linear-gradient(to bottom, lightblue, grey);
  background-size: cover;
  color: black;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 4;
  margin: 0;
  padding: 0; 
}
header {
  background-color: #B0c4DE;  
  background-size: cover;
  color: black;
  border-bottom: 0px solid #ccc;
  padding: 5em;
}
header nav ul {
  display: flex;
  justify-content: space-between;
}

 h1 {
  font-family:courier new;
  font-size: 2em;
  margin: 1;
  text-align:center;
  text-shadow: 5px 5px 10px blue;
}

header p {
  font-size: 1.5em;
}
main {
  padding: 1em;
}

section {

  margin-bottom: 2em;
}

section h2 {
  text-align: center;
  font-size: 1.5em;
}

section ul {
  margin-left: 1.5em;
}