body {
background: linear-gradient(to bottom, gray, lightblue);
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 3;
  margin: 0;
  padding: 0;
}
h1 {
color: white;
text-align: left;
}
a {
  color: #0077cc;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

header {
  background-color: #2F4F4F;
  border-bottom: 1px solid #ccc;
  padding: 2em;
}

header nav ul {
  display: flex;
  justify-content: space-between;
}

header h1 {
  font-family:courier new;
  font-size: 2em;
  margin: 1;
  text-align:center;
  text-shadow: 5px 5px 10px black
}

header p {
  font-family:courier new;
  font-size: 1.5em;
  text-shadow: 5px 5px 10px black;
  text-align:center;
}
main {
  padding: 2em;
}

section {
  margin-bottom: 2em;
}

section h2 {
  font-size: 1.5em;
  text-decoration:underline black;
}

section ul {
  margin-left: 1em;
}

section li:before {
  content: "\2022";
  color: #0077cc;
  display: inline-block;
  margin-right: 0.5em;
}
footer {
  background-color: #f2f2f2;
  padding: 1em;
  text-align: center;
  font-size: 0.8em;
  border-top: 1px solid #ccc;
}

